<footer>
    <div class="foot">
        <p>2019 © Tous droits réservés. BOIS GUILBAUD</p>
        <div>
            <a href="{{ path('app_main' ) }}">Accueil</a>
            <a href="{{ path('prestation_index') }}">Nos Prestations</a>
            <a href="{{ path('espacevert_index') }}">Espaces Verts</a>
            <a href="{{ path('contact_index' ) }}">Contact</a>
        </div>
    </div>
</footer>