
<section>
        <div class="localisation">
            <div class="localisationtext">
                <img style="height:70px;" src="{{ asset('images/logowhite.png') }}" alt="logo">
                <p>Les établissements GUILBAUD, entreprise familiale, sont situés à La Rochelle en région
                    Poitou-Charentes. Depuis plus de 30 ans, notre spécialité est la vente de bois bûche,
                    en livraison ou à prendre sur place, aux particuliers et professionnels ansi que les
                    travaux d'élagage.
                </p>
                <ul>
                <li style="padding-left:40px">6 rue David Oualle, Fief de la Repentie,</li>
                <li style="padding-left:40px">17000 La Rochelle</li><br>
                <li style="padding-left:40px">05 46 42 31 30</li><br>
                <li style="padding-left:40px">Du lundi au vendredi :<br>9h-12h et 14h-17h30</li>
                <li style="padding-left:40px"><i>( 16h30 le vendredi )</i></li>
                </ul>
                <p>
                    Suivez-nous : 
                    <a href="">
                        <img src="{{ asset('images/google.png') }}" alt="google">
                    </a>
                    <a href="https://www.facebook.com/SarlBoisGuilbaud/">
                        <img src="{{ asset('images/facebook.png') }}" alt="facebook">
                    </a>
                </p>
            </div>
            <div class="localisationmap" id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4385.767060899721!2d-1.2162187589547704!3d46.17343976447821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480154f2b2101741%3A0xaa70d24a4c939831!2sGuilbaud%20William!5e0!3m2!1sfr!2sfr!4v1712913811456!5m2!1sfr!2sfr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>