{% extends 'base.html.twig' %}

{% block title %}Rognage Souche{% endblock %}

{% block body %}
	<main>
    <section class="titre">
        <h1>Rognage Souche</h1>
    </section>
    <section class="granulesitems">
    </section>
    </main>
{% endblock %}
