{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="contacth1">Entrez en contact avec nous</h1>
    <p class="contactp">Appelez-nous au <span>05 46 42 31 30</span></p>
    {# message quand le mail est envoyé #}
    {% for message in app.flashes('success')  %}
        <div class="alert alert-success">
            <p class="messagealerte">Votre message a été envoyé avec succès</p>
        </div>
    {% endfor %}
    {# affichage du formulaire de contact #}
    <div class="contact">
        {{ form(form) }}
    </div>
{% endblock %}
