    <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bois Guilbaud{% endblock %}</title>

        <!-- Custom styles -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/phone.css') }}">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('bootstrap/bootstrap.min.css') }}">


    </head>
    <body>
        <div id="wrapper">
            {# header #}
            {{render(controller('App\\Controller\\Api\\CategoryController::index'))}}
            {# body #}
            {% block body %}{% endblock %}
            {# localisation #}
            {% include '_partials/_localisation.html.twig' %}
            {# footer #}
            {% include '_partials/_footer.html.twig' %}
        </div>
    </body>
</html>
