<div>
    <p><span class="underline">Vous avez reçu un mail de</span> : {{ name }}</p>
    <p><span class="underline">Adresse mail</span> : {{ mail }}</p>
    <p><span class="underline">Numéro de téléphone</span> : {{ phone }}</p>
    <p><span class="underline">Message</span> : <br> {{ message }}</p>
</div>