<div>
    <p><span style ="text-decoration:underline">Vous avez reçu un mail de</span> : {{ name }}</p>
    <p><span style ="text-decoration:underline">Adresse mail</span> : {{ mail }}</p>
    <p><span style ="text-decoration:underline">Numéro de téléphone</span> : {{ phone }}</p>
    <p><span style ="text-decoration:underline">Message</span> : <br> {{ message }}</p>
</div>